<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user</title>
<script th:src="@{/js/jquery/jquery-3.4.1.js}"></script>
<script th:src="@{/js/test.js}"></script>
</head>
<body>
	<button id="insert">用户新建</button>
	</br>
	<button id="getUser">用户主键查询</button>
	</br>
	<button id="getUsers">用户条件查询</button>
	</br>
	<button id="update">用户更新</button>
	</br>
	<button id="updatepatch">用户更新部分</button>
	</br>
	<button id="delete">用户删除</button>
	</br>
	</br>
	<button id="proInsert">产品新建</button>
	</br>
	<button id="getPro">产品主键查询</button>
	</br>
</body>
</html>